/* Coming soon! */

body{
  font-size: 12pt;
  font-family: verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

br{
	clear:both;
	}

header{
  background-color: black;
  color: white;
  padding: 1em;
}

fieldset{
  border: 1px dotted red;
}

legend{
  font-size: 1.5em;
  color: red;
  font-weight: bold;
}

input, select{
  font-size: 1em;
  padding: .5em;
  font-weight: bold;
  border-radius: 10px;
}

.searchable_term{
  display: inline-block;
  background: white;
  color: black;
  border: 2px solid #ccc;
  margin: .25em;
  font-size: 1em;
  padding: 5px;
}

.term_field{
  font-weight: bold;
}

.searchable_term sup{
  font-weight: bold;
  font-size: 12px;
}
  
.searchable_term sup:hover{
  cursor: pointer;
}

#messages{
  margin: .25em;
  font-size: 18px;
  font-weight: bold;
  color: blue;
}

.meta_inf{
  text-align: center;
  margin-left: 1em;
}

.footer.meta_inf{
  margin: 10px 0px 20px 0px;
  padding-top: 10px;
  border-top: 2px dotted #ccc;
}

.paginate{
  color: red;
}

.paginate:hover{
  cursor:pointer;
}

#next{
  margin-left: 2em;
}

#prev{
  margin-right: 2em;
}

.filter{
  margin: 5px 3px;
  display: inline-block;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e4e4e4;
  color: black;
}

#add_searchable{
  font-size: 1.5em;
}

#add_searchable:hover{
  cursor: pointer;
}

#target{
  margin: 5px;
}

.doc{
  width:350px;
  background-color: #ccc;
  margin: 0px 10px 10px 0px;
  padding: 20px;
  border-radius: 5px;
  clear: both;
  font-size: 10pt;
  cursor:pointer;
}
.doc:hover{
  background-color:#999;
}

.doc img{
  float:left;
  margin:0 5px 5px 0;
}

.doc .data_source{
  font-size: 10px;
}

.doc .cover{
  float: left;
  margin: 0px 5px 0px 0px;
}

.doc .title{
  margin-top: 0px;
  font-weight: bold;
}
