/* Coming soon! */

body{
  font-size: 12pt;
  font-family: verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

header{
  background-color: black;
  color: white;
  padding: 1em;
}

fieldset{
  border: 1px dotted red;
}

legend{
  font-size: 2em;
  color: red;
  font-weight: bold;
}

input{
  font-size: 1.2em;
  padding: .5em;
  font-weight: bold;
  border-radius: 10px;
}

.filter{
  margin: 5px 3px;
  display: inline-block;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e4e4e4;
  color: black;
}

#target{
  margin: 5px;
}

.doc{
  width:31%;
  background-color: #ccc;
  margin: 0px 1em 1em 0px;
  padding: .25em;
  border-radius: 5px;
}

.doc .data_source{
  font-size: 10px;
  margin-left: 1em;
}

.doc .cover{
  float: left;
  margin: 0px 5px 0px 0px;
}
